.select-custom {
    border:0px;
    outline:0px;
    cursor: pointer;
    font-size: 20px;
    background-color: #f6f6f6;
}

.prodcut-container {
    height: 400px;
    width: 400px;
    cursor: pointer;
}

.product-container-parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 75px;
}

.prodcut-container > img {
    height: 80%;
    width: 100%;
}

.info-container {
    margin-top: 15px;
    display:flex;
    flex-direction: column;
    align-items:center;
    font-size: 15px;
    padding: 5px;
}
.info-container:hover {
    transform: scaleX(2);
    padding: 5px;
}