li {
    list-style-type: none;
    font-weight: bold;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

li:hover {
    text-decoration: none;
}
.header {
    background-color: white;
}

.logo {
    font-size: 30px;
    font-weight: bolder;
    color: red;
    position: relative;
    top: 10px;
}

.logo:hover {
    color: blue;
}

 /* .dropdown-menu {
    /* position: relative; */
    /* display: inline; 
} */
 
.dropdown-menu-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    color: black;
    min-width: 150px;
    z-index: 1;
}

.dropdown-menu:hover .donpdown-menu-content {
    display: block;
}

/* Link:hover {
    text-decoration: none;
    color: black;
} */